.spinner-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}

.spinner {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 8px solid rgb(241, 241, 241);
	border-top-color: var(--main-color-blue);
	animation: spin 1s linear infinite;
}

.full-screen-loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(255, 255, 255, 0.8);
	z-index: 100;
}
